@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --color1: #4d455d;
  --color2: #36070e;
  --color3: #f5e9cf;
  --color4: #7db9b6;
  --color5: #454545;
  --color6: #ff6000;
  --color7: #ffa559;
  --color8: #ffe6c7;
}

/* Agregamos el scroll behavior smooth para que se mas suve la navegacion */

/* scroll padding top para cuando se clickea en el link del menu */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}


/* Efecto glass */

.overlay{
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    /* Efecto glass */
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: none;
}

#cart-toggle:checked ~ .overlay{
    display: block;
}

#menu-toggle:checked ~ .overlay{
    display: block;
}

.navbar-list li{
    position: relative;
}

.navbar-list li a::after{
    content: "";
    background-color: var(--color3);
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* <!-- Cambiamos animación del carrito --> */

.cart{
    position: absolute;
    top: 65px;
    right: 0;
    padding: 5px 30px;
    background: var(--color1);
    display: flex;
    flex-direction: column;
    /* height: calc(100% - 80px); */
    /* overflow-y: scroll; */
    height: 70vh;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    /* display: none; */
    z-index: 2;
    gap: 5px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

#cart-toggle:checked + .cart{
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/* Animacion en hover */

.cart-label{
    transition: all 0.2s ease-out;
}

.cart-label:hover {
    color: var(--color3);
    transition: all 0.2s ease-in;
    border-color: var(--color1);
    transform: scaleX(1.2);
}

/* Botones del carrito */

.quantity-handler{
    transition: all .2s ease-in;
}

.quantity-handler:hover{
    cursor: pointer;
    transition: all .2s ease-in;
    background-color: var(--color3);
}
