@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --color1: #4d455d;
  --color2: #36070e;
  --color3: #f5e9cf;
  --color4: #7db9b6;
  --color5: #454545;
  --color6: #ff6000;
  --color7: #ffa559;
  --color8: #ffe6c7;
}

/* Tablet vertical */

@media (max-width: 760px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .carrito-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .logo-inicio {
    height: 50px;
    width: 50px;
  }

  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color: var(--color1);
    border: 2px solid var(--color2);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 20px;
    z-index: 2;
    display: none;
  }

  /* Mostramos el icono del menu */

  .menu-label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }


  .cart-label{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

  }

  #menu-icon {
    width: 40px;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }

  /* HERO */

  .hero-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .hero-info h1 {
    width: 90%;
    max-width: 500px;
    min-width: unset;
  }

  .hero-info p {
    width: 60%;
    max-width: 600px;
  }

  .hero-card {
    display: none;
  }

  /* INFO */

  #info h2 {
    text-align: center;
    width: 80%;
  }

  .info-cards-container {
    max-width: 80%;
  }

  /* Discover  */

  #discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .discover-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 500px;
    gap: 10px;
  }

  .discover-info h2 {
    min-width: 500px;
    padding-top: 0px;
    display: flex;
    justify-self: flex-end;
  }
  .discover-info-text {
    justify-content: flex-end;
  }

  .discover-card {
    flex-direction: column;
    gap: 20px;
  }

  .discover-card img {
    width: 80%;
  }

  .button-category {
    width: 60%;
    flex-wrap: wrap;
  }

  .category {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }

footer p {
  display: flex;
  align-items: center;
  justify-content: center;

}
  
}


/* Celular */

@media (max-width:576px){
  .cart{
    left: 0px;
    width: 100px;
    border: none;
  }


  .cart.item{
    flex-wrap: wrap;
  }

  .hero-info p{
    width: 70%;
    max-width: unset;
    font-size: 20px;
    color: var(--color3);
  }

 .hero-info a{
  color: var(--color2);
 }

  .info-card{
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .info-card p {
    font-size: 20px;
  } 

  .info-card h3 {
    font-size: 30px;
  } 

  #discover{
    width: 80%;
  }

  #discover h2{
    height: unset;
    width: 100%;
  }

  .discover-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .discover-info h2 {
    min-width: unset;
    
  }

  .discover-info-text{
    height: unset;
    width: unset;
  }

.button-category{
  display: 90%;
  justify-content: center;
  align-items: center;
}

  .category{
    min-height: 60px;
    max-height: 60px;
    min-width: 130px;
    max-width: 130px;
    text-align: start;
    font-size: 15px;
  }

  .product{
    width: 70%;
  }

  footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .footer-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

}